[submodule "linux"]
	path = linux
	url = https://github.com/skhynix/linux.git
[submodule "numactl"]
	path = numactl
	url = https://github.com/skhynix/numactl.git
[submodule "damo"]
	path = damo
	url = https://github.com/skhynix/damo.git
