[submodule "linux"]
	path = linux
	url = https://github.com/skhynix/linux.git
[submodule "numactl"]
	path = tools/numactl
	url = https://github.com/skhynix/numactl.git
[submodule "damo"]
	path = tools/damo
	url = https://github.com/skhynix/damo.git
[submodule "tools/bwprof/pcm"]
	path = tools/bwprof/pcm
	url = https://github.com/intel/pcm.git
