*.swp
*.swo
*.d
*.o
*.ko
*.obj
out/

*.a
*.la
*.lo
*.so
*.so.*

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

__pycache__/
*.py[cod]
*$py.class
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.manifest
*.spec
__pypackages__/

*.class
*.jar

doc/output/
tags
cscope.files

# hmsdk
build.log
cemalloc_package
externals/include/jemalloc.h
cemalloc/java/jni/cemalloc_Cemalloc.h
tests
example/explicit_api/cpp/explicit_example
example/implicit_api/implicit_example
